:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  box-sizing: border-box;
  padding:45px;

  .g-brand {
    margin-bottom: 60px;
  }

  span {
    margin: 45px 0;
  }

  a,
  a:link,
  a:visited,
  app-remaining-days,
  app-to-do-progress {
    cursor: pointer;
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
    color:#000;
    user-select: none;
    cursor: pointer;
  }

  .project-panel__header,
  .project-panel__container {
    border-bottom: 1px solid #425E73;
    margin-bottom: 30px;
  }
}
