:host {
  padding:45px;

  div {
    max-width: 774px;
    margin: 0 auto;
  }

  mat-icon[appIconPill] {
    border-radius: 50%;
    border: 1px solid #DDD;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 45px;
  }

  form {
    margin-bottom: 30px;
  }
}
