<div *ngIf="vm$ | async as vm">

  <h2 *ngIf="!vm.form.value.toDoId">Create To Do</h2>
  <h2 *ngIf="vm.form.value.toDoId">Edit To Do</h2>

  <div class="to-do-detail__actions" *ngIf="vm.form.value.toDoId">
    <mat-icon class="g-pill" *ngIf="vm.form.value.status != 'Complete'" (click)="complete(vm.form.value)">
      done
    </mat-icon>

    <span class="g-pill" *ngIf="vm.form.value.status == 'Complete'">
      Completed
    </span>
  </div>


  <form [formGroup]="vm.form">
    <mat-form-field class="g-form-field">
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="description" autocomplete="off">
    </mat-form-field>
  </form>

  <button class="g-button" (click)="save(vm.form.value)" [disabled]="!vm.form.valid || vm.form.pristine">
    Save
  </button>
</div>
