<div *ngIf="vm$ | async as vm">

  <h2 *ngIf="!vm.form.value.toDoId">Create To Do</h2>
  <h2 *ngIf="vm.form.value.toDoId">Edit To Do</h2>

  <mat-icon appIconPill *ngIf="vm.form.value.toDoId" (click)="complete(vm.form.value)">
    done
  </mat-icon>

  <form [formGroup]="vm.form">
    <mat-form-field class="g-form-field">
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="description" autocomplete="off">
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="save(vm.form.value)">
    Save
  </button>
</div>
