:host {
  padding:45px;

  div {
    max-width: 774px;
    margin: 0 auto;
  }

  .to-do-detail__actions {
    height: 50px;
    display: grid;
    place-items: center start;
  }

  form {
    margin-bottom: 30px;
  }
}
