:host {
  h2 {
    margin-bottom: 30px;
  }

  .to-do-list__list {
    display: grid;
    gap:10px;

    > div {
      cursor: pointer;
    }
  }

  .to-do--completed {
    text-decoration: line-through;
  }
}
