<ng-container *ngIf="vm$ | async as vm">
  <a class="g-heading" [routerLink]="['/']">
    <mat-icon>chevron_left</mat-icon>
    <span>To Do's</span>
  </a>
  <h1>Edit Project</h1>

  <form [formGroup]="vm.form">
    <app-project-select formControlName="name"></app-project-select>

    <mat-form-field class="g-form-field">
      <mat-label>Due Date</mat-label>
      <input matInput formControlName="dueDate">
    </mat-form-field>

  </form>

  <div class="g-actions">
    <button mat-stroked-button>
      Save
    </button>
  </div>
</ng-container>
