.g-pill {
  border-radius: 17px;
  border: 1px solid #DDD;
  cursor: pointer;
  margin-bottom: 45px;
  padding: 8px 28px;
  display: flex;
  width: fit-content;
  place-items: center center;
  justify-content: center;
  box-sizing: border-box;
  line-height: 14px;
  font-size: 14px;
}

mat-icon.g-pill {
  padding:5px;
  box-sizing: initial;
  --icon-size:20px;
  line-height: var(--icon-size);
  font-size: var(--icon-size);
  height: var(--icon-size);
  width: var(--icon-size);
}
